<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/t-{{= cache_token }}/style.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>{{= title }}</title>
</head>
<body>
<main>
<article>
	<div class="container">
    <h1>{{= title }}</h1>
    <p>
        {{- html }}
    </p>
    </div>
</article>    
<main>   
</body>
</html>